{{!-- <div class="header">
   <div>
        <ul>
            <li id="heading">MOVIESNOW</li>
            <li class="header-list">{{#link-to 'movies' class="no-underline"}}MOVIES{{/link-to}}</li>
            {{#if isAuthenticate}}
            <li class="header-list">{{#link-to 'dashboard'  class="no-underline"}}DASHBOARD{{/link-to}}</li>
            {{else}}
            <li class="header-index-list">{{#link-to 'signup'  class="no-underline"}}SIGNUP{{/link-to}}</li>
            <li class="header-index-list">{{#link-to 'login'   class="no-underline"}}LOGIN{{/link-to}}</li>
            {{/if}}
        </ul>
    </div>
</div> --}}
{{outlet}}