<input type="checkbox" id="check">
<header>
    <label for="check">
        <i class="fas fa-bars" id="sidebar_btn"></i>
    </label>
    <div class="left_area">
        <h3 style="margin-left:48%;margin-top:-20px">MOVIESNOW<span></span></h3>
    </div>
    <div class="right_area">
        <a href="#" class="logout_btn" {{action 'logout' }} style="padding: 6px 20px;"><i
                class="fas fa-sign-out-alt"></i></a>
    </div>
</header>
<div class="mobile_nav">
    <div class="nav_bar">
        <i class="fa fa-bars nav_btn"></i>
    </div>
    <div class="mobile_nav_items">
        <span><i class="fas fa-home"></i>{{#link-to 'dashboard.user'}}  HOME{{/link-to}}</span>
        <span>{{#link-to 'dashboard.bookings' activeClass="active"}} MY BOOKINGS{{/link-to}}</span>
    </div>
    {{#if isManager}}
    <div class="mobile_nav_items">
        <span>{{#link-to 'dashboard.movieslist'}}  MOVIES{{/link-to}}</span>
        <span>{{#link-to 'dashboard.shows'}}  SHOWS{{/link-to}}</span>
    </div>
    {{/if}}
    {{#if isAdmin}}
    <div class="mobile_nav_items">
        <span>{{#link-to 'dashboard.users'}}  USERS{{/link-to}}</span>
    </div>
    {{/if}}
</div>

<div class="sidebar">
    <div class="profile_info">
    </div>
    <div class="mobile_nav_items">
        <span>{{#link-to 'dashboard.user'}}<i class="fas fa-home"></i>   HOME{{/link-to}}</span>
        <span>{{#link-to 'dashboard.bookings'}}<i class="fa-solid fa-ticket"></i>  MY BOOKINGS{{/link-to}}</span>
        <span>{{#link-to 'movies' activeClass="active"}}<i class="fa-solid fa-ticket"></i>  BOOK TICKETS{{/link-to}}</span>


    </div>
    {{#if isManager}}
    <div class="mobile_nav_items">
        <span>{{#link-to 'dashboard.movieslist'}}<i class="fa-solid fa-film"></i>   MOVIES{{/link-to}}</span>
        <span>{{#link-to 'dashboard.shows'}}<i class="fa-solid fa-film"></i>     SHOWS{{/link-to}}</span>
    </div>
    {{/if}}
    {{#if isAdmin}}
    <div class="mobile_nav_items">
        <span>{{#link-to 'dashboard.users'}}<i class="fa-solid fa-user"></i>    USERS{{/link-to}}</span>
        <span>{{#link-to 'dashboard.listalltheatres'}}<i class="fa-solid fa-film"></i>   THEATRES{{/link-to}}</span>
    </div>
    {{/if}}
</div>
{{outlet}}