<li  style="margin-left:28%"class="dashboard-not-found"> OOPS! SOMETHING WENT WRONG</li>
<li class="header-list" style="font-family: 'Courier New', Courier, monospace;margin-top:10%;margin-left:42%">{{#link-to 'application'  class="no-underline"}}GO HOME{{/link-to}}</li>
