$color_1: rgb(0, 123, 255);
$color_2: #333;
$font-family_1:"Lato";
$background-color_1: rgb(255, 255, 255);
$background-color_2: rgb(0, 123, 255);

.header {
	margin-top: 40px;
	font-family: $font-family_1;
	ul {
		li {
			display: inline-block;
			display: inline-block;
		}
	}
}
#heading {
	margin-bottom: 200px;
	font-size: x-large;
	color: $color_1;
	font-weight: bolder;
	margin: 0%;
	margin-right: 69%;
}
ul {
	list-style-type: none;
}
.header-index {
	margin-left: 81%;
	margin-top: -3%;
	font-family: $font-family_1;
}
.header-list {
	text-decoration: none;
	margin-left: 10px;
	display: inline-block;
	padding: 10px 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
	background-color: $background-color_1;
	transition: all 0.3s ease;
	text-align: center;
	text-decoration: none;
	color: $color_2;
	&:hover {
		background-color: $background-color_2;
		transition: transform 0.4 ease;
		transform: scale(1.1);
	}
}
.header-index-list {
	text-decoration: none;
	margin-left: 10px;
	display: inline-block;
	padding: 10px 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
	background-color: $background-color_1;
	transition: all 0.3s ease;
	text-align: center;
	text-decoration: none;
	color: $color_2;
	&:hover {
		background-color: $background-color_2;
		transition: transform 0.4 ease;
		transform: scale(1.1);
	}
}
.no-underline {
	text-decoration: none;
}
body {
	background-image: url("/home.png");
	height: auto;
	width: auto;
	background-size: cover;
}