.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: white;
    background-color: rgb(0, 123, 255);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 17px;
    margin-left: 30%;
    display: flex;
}

.centre {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

.form-field-group {
    margin-bottom: 20px;
}

.form-field-group label {
    display: block;
    font-weight: bold;
    font-family: 'Courier New';
    display: flex;
    margin-bottom: 5px;
}

.form-field-group .form-field-values input[type="text"],
.form-field-group .form-field-values input[type="password"] {
    width: 300px;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 5px;
}